
*.o
*.out
*.exe
*.a
*.so
*.dll

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

*.log
*.tmp
*.temp
*.swp
*.bak

output/*
!output/.gitkeep

*.tar
docker-compose.override.yml

.DS_Store
Thumbs.db